body {
background: url(images/k.png) ;
background-size: cover;
width: 100%
padding-right: 0px;
}


div {
  padding-top: 15px ;
  padding-left: 15px;
  padding-right: 0px;
  font-size: 14px;
  width: 100%
}

input {
  height: 30px;
  padding-left: 5px;
  width: 15%;
  border-radius: 2px;
}


